body {
}

#ManagerTable {
    width: 100%;
    height: 100%;
    border:2px solid black;
    
}

    #ManagerTable th  {
        border: 2px solid white;
        border-collapse: collapse;
        text-align: center;
    }


.ImgTable {
    width: 100px;
    height: 100px;
}

Thead {
    background-color: black;
    color: white;
    border: 2px solid black;
}

#tableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

td {
    text-align: center;
}