<link rel="stylesheet" href="~/Content/style/HomePageCSS.css"/>
<link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">

@{
    ViewBag.Title = "Home Page";
}

<div id="HomePageContainer">
    <header id="headerLogo">
        <img src="~/Content/style/Imges/indi con.jpeg" />
        <h1>  SPORT EQUIPMENT STORE</h1>
        <img src="~/Content/style/Imges/tec career.jpeg" />
    </header>

    <article id="about">
        <h3>
            Our franchise partners have been providing athletes of every age quality used and new sports and fitness
            equipment they need to be their best on the field, on the court, at the rink and in the gym.
            Since 1983, Play It Again Sports has expanded to nearly 300 locations throughout North America and has become a
            major player in the sports retail industry.
        </h3>
    </article>
    <main>

        <img id="homePagePic"
             src="https://www.vmcdn.ca/f/files/shared/miscellaneous-stock-images/sports.jpeg;w=960" />

        <div id="customerServiceBox">
            <h1>Customer Service</h1>
            <h3>Enter your details and we will get back to you soon</h3>
            <form>
                <label>name</label><br>
                <input type="text" placeholder="enter your first and last name"><br>
                <label>phone</label><br>
                <input type="number" placeholder="enter your phone number "><br>
                <label>email</label><br>
                <input type="email" placeholder="enter your email address"><br>
                <button type="submit">send</button>
            </form>


        </div>

    </main>


</div>