<link rel="stylesheet" href="~/Content/style/CSS/shoesCSS/AllShoesStyle.css" />
@using SportsEquipmentStoreApp.Models;
@{
    ViewBag.Title = "AllShoes";
}

<div id="pageContianer">
    <h2>AllShoes</h2>

    <button type="button">@Html.ActionLink("Manager view", "ManagerTable", "Shoes")</button>
    <button type="button">@Html.ActionLink("Shoes On Sale", "ShoesOnSale", "Shoes")</button>
</div>
   <div id="container">
        @foreach (Shoe shoe in Model)
        {
            <div class="shoesBox">
                <img src="@shoe.ImageLink" />
                <h3>Type: @shoe.ShoeType</h3>
                <h3> Company:@shoe.Company</h3>
                <h3>Price:@shoe.Price</h3>
            </div>
        }

    </div>

