<link rel="stylesheet" href="~/Content/style/CSS/shoesCSS/AllShoesStyle.css" />
@using SportsEquipmentStoreApp.Models;
@{
    ViewBag.Title = "AllShoes";
}

<div id="pageContianer">
    <h2>All Shoes</h2>

    <button type="button">@Html.ActionLink("Manager view", "ManagerTable", "Shoes")</button>
    <button type="button">@Html.ActionLink("Shoes On Sale", "ShoesOnSale", "Shoes")</button>
</div>
   <div class="cardContainer">
        @foreach (Shoe shoe in Model)
        {
       <div class="cardBox">
           <img src="@shoe.ImageLink" />
           <h4>Type: @shoe.ShoeType</h4>
           <h4> Company:@shoe.Company</h4>
           <h4>Price:@shoe.Price</h4>
           <button>add</button>
       </div>
        }

    </div>

