<link rel="stylesheet" href="~/Content/style/CSS/shoesCSS/AllShoesStyle.css"/>
@using SportsEquipmentStoreApp.Models;
@{
    ViewBag.Title = "ShoesOnSale";
}
      <div id="pageContianer"> 
<h2>Shoes On Sale</h2>
          </div>
<div class="cardContainer">
    @foreach (Shoe shoe in Model)
    {
    <div class="cardBox">
        <img src="@shoe.ImageLink" />
        <h4>Type: @shoe.ShoeType</h4>
        <h4> Company:@shoe.Company</h4>
        <h4>Price:@shoe.Price</h4>
        <button>add</button>
    </div>

    }
</div>
