@using SportsEquipmentStoreApp.Models;
@{
    ViewBag.Title = "ShoesOnSale";
}

<h2>ShoesOnSale</h2>

<div id="container">
    @foreach (Shoe shoe in Model)
    {
        <div class="shoesBox">
            <img src="@shoe.ImageLink" />
            <h1>Type: @shoe.ShoeType</h1>
            <h1> Company:@shoe.Company</h1>
            <h1>Price:@shoe.Price</h1>
        </div>

    }
</div>
